---
layout: default
---
{% if page.mathjax %}
<script type="text/javascript"
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{% endif %}
<div class="post-header">
	<div class="post-date">{{ page.date | date: "%d.%m.%Y" }}</div>
	<div class="post-share">
		Share:&nbsp;
		<a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}/{{page.slug}}" target="_blank"><img alt="Facebook" src="assets/images/icon/facebook.svg" class="social-icon"></a>
		<a href="https://twitter.com/intent/tweet?source=tweetbutton&amp;original_referer={{site.url}}/{{page.slug}}&amp;text={{page.title}} - {{site.url}}/{{page.slug}}" target="_blank"><img alt="X" src="assets/images/icon/x.svg" class="social-icon" style="width: 20px;"></a>
		<a href="https://api.whatsapp.com/send?text={{site.url}}/{{page.slug}}" target="_blank"><img alt="Whatsapp" src="assets/images/icon/whatsapp.svg" class="social-icon"></a>
	</div>
</div>

<div class="blog-post-content">
	<h1>{{page.title}}</h1>
	{{ content }}
</div>

<div class="support-section">
	<div class="bmc-button-container">
		<script type="text/javascript"
			src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
			data-name="bmc-button"
			data-slug="majnioui"
			data-color="#e3e3e3"
			data-emoji="☕"
			data-font="Cookie"
			data-text="Buy me a coffee"
			data-outline-color="#000000"
			data-font-color="#000000"
			data-coffee-color="#FFDD00">
		</script>
	</div>
</div>

<div class="tags-container">
	{% for tag in page.tags %}
		<a href="{{ site.url }}/tags/#{{tag | cgi_escape}}" class="post-tag">{{tag}}</a>{% unless forloop.last %}, {% endunless %}
	{% endfor %}
</div>
<div class="navigation">
	{% if page.previous %}
		<a class="prev" href="{{ page.previous | relative_url }}">< {{ page.previous.title }}</a>
	{% endif %} {% if page.next %}
	<a class="next" href="{{ page.next | relative_url }}">{{ page.next.title }} ></a>
{% endif %}
</div>
{% include comments.html %}